#listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.feature {
    min-width: 33%;
    margin: 30px
}
#page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    width: 100%;
    max-width: 600px;
}
#secretList {
        list-style-type: none;
}
